body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.ReactTable .rt-thead.-filters input,
.ReactTable .rt-thead.-filters select {
    color: black !important;
}


/* .ReactTable .fa-edit,
.ReactTable .fa-trash-o,
.ReactTable .fa-key, */

.ReactTable .row-action .fa {
    font-size: 17px;
    padding: 3px 12px;
    cursor: pointer;
}

.ReactTable .rt-tbody .rt-td {
    /* color: black; */
    font-size: 14px;
}

.ReactTable.-striped .rt-tr.-odd {
    background: #fff !important;
}

.ReactTable .rt-tbody {
    margin-left: 10px;
}

.react-datepicker__input-container {
    width: 100%;
}

.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    width: 30px !important;
    font-size: 13px;
    padding: 10px;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
    font-size: 13px !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
    background-color: #2b3f54;
}

.react-datepicker__close-icon {
    position: absolute;
    margin: 18px 0px;
}

.react-datepicker__header__dropdown select {
    font-size: 13px !important;
}

.react-datepicker__header__dropdown.react-datepicker__header__dropdown--scroll {
    font-size: 13px !important;
}

.react-datepicker .quick-links a {
    font-size: 12px;
    display: inline-block;
    padding: 10px;
}

.ReactTable .rt-thead .rt-resizable-header-content {
    font-weight: bold;
    letter-spacing: 0.5px !important;
}

.table-cell-wrap,
.ReactTable .rt-td {
    white-space: normal !important;
}